# Testing of main functions of the project TransCrypt

| ID | Function/Name | Scenario | Expected result | Result | Mark |
|:---:|:---:|:---|:---|:---|:---|
| 1 | Checking a cryptocurrency rate | 1) Press button with a necessary cryptocurrency; 2) Press "Calculate" button. | Cryptocurrency rate was displayed on a screen | Todays and yesterdays rate was displayed on a screen | 10 |
| 2 | Updating a cryptocurrency rate | 1) Press button with a necessary cryptocurrency; 2) Press "Calculate" button. | Updated cryptocurrency rate was displayed on a screen | Todays rate was changed after pressing "Calculate" button | 10 |
| 3 | Convertion | 1) Press button with a necessary cryptocurrency;  2) Enter amount of GPU's; 3) Press "Calculate" button. | Convertion was made and results was displayed on a screen | Results of convertion was displayed on a screen | 10  |
| 4 | Showing mining per hour and amount in USD | 1) Press button with a necessary cryptocurrency;  2) Enter amount of GPU's; 3) Press "Calculate" button. | Mining per hour was calculated and result was displayed on a screen with amount in USD | All necessary information was displayed ob a screen | 10 |
